body{
     animation: isaac 2s infinite;
     /* background-color: #2be23a; */
}
@keyframes isaac{
    from{
        background-image: url(pizza.jpg);
    }
    to{
        background-image: url(sandwich.jpg);
           background-image: url(salmon.jpg);
    }
}
.bd{
    display: flex;
    flex-direction: column;
    width: 100%;
     
      align-items: center;
}
header{
    font-size: 5ch;
    text-transform: uppercase;
    text-align: center;
    text-decoration: underline;
    text-decoration-color: teal;
}
img{
    width: 500px;
    margin: 0 20px;
    border-radius: 40ch;
   ;
}
.a{
    display: flex;
    margin: 50px 0;
    text-align: center;
    align-items: center;
    flex-direction: column;
    margin: 50px 0;
    padding: 15px;
    background: #892be29c;
    box-shadow: 7px 6px 50px #581b91;
    width: 80%;
    transition: .3s;
}
.a:hover{
    transform: scale(1.05);
}
p{
    color: #00ff62fb;
    font-size: 30px;
    break-after: right;
    width: fit-content;
}
